SECRET_KEY=*** *** *** *** 
SQLALCHEMY_DATABASE_URI=sqlite:///sqlite.db
# Uncomment the following line to use a in production
# UPLOAD_URL=https://******.fly.dev

# local dev
UPLOAD_URL=http://localhost:8050
 
OPENAI_API_KEY=*** ***
 
REDIS_URI=redis://localhost:6379
 
PINECONE_API_KEY=pcsk_2E***
PINECONE_ENV_NAME=*** *** 
PINECONE_INDEX_NAME=*** ***


LANGFUSE_PUBLIC_KEY=*** ***
LANGFUSE_SECRET_KEY=*** ***